:root {
  color-scheme: light dark;
  --bg: light-dark(#fdfdfd, #191a1c);
  --s1: light-dark (white, #1d1e20);
  --s1-border: light-dark (#e9e9e7, #313336);
  --s2: light-dark (#f9f9fb, #27282a);
  --s2-border: light-dark (#e2e4e9, #34373d);
  --font-main: light-dark (#171420, white);
  --font-mid: light-dark (#787887, #cccfd6);
  --font-subtle: light-dark (#98a1ae, #a3a4a9);
  --font-contrast: light-dark (white, #191a1c);
  --btn-bg: light-dark (#252629, white);
  --btn-border: light-dark (#ebebeb, #313336);
  --btn-text: light-dark (#171420, white);
  --links: light-dark (#0000ff, #9fb8ff);
  /* brand */
  --lime: #d0fc95;
  --blue: #0000ff;
  /* status */
  --success-bg: #e6fcf5;
  --success-text: #099268;
  --success-border: #c3fae8;
  --error-bg: white5f5;
  --error-text: #e03131;
  --error-border: #ffe3e3;
  --warning-bg: whiteae4;
  --warning-text: #e67700;
  --warning-border: white1b4;
  --neutral-bg: #f8f9fa;
  --neutral-text: #495057;
  --neutral-border: #e9ecef;
}
