body {
  background-color: var(--background);
  color: var(--text);
}

.btn-dark {
  background-color: var(--btn-dark);
  color: var(--btn-dark-text);
  border-radius: var(--radius-5);
  font-size: var(--txt-size-sm);
}

.card {
  background-color: var(--surface);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--radius-16);
  padding: var(--s6);
  max-width: 15rem;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 15rem));
  gap: var(--grid-gap);
}

.grid-item-main {
  background-color: var(--card-main-bg);
  position: relative;
  display: flex;
  overflow: clip;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--s8);
  text-align: center;
}

.grid-item-end {
  display: flex;
  padding: 0 var(--s4) var(--s8) var(--s4) var(--s8);
  justify-content: flex-start;
  align-items: center;
}
