:where([class*="l-flex-"], [class*="l-cluster"]) {
  gap: var(--s24, 1.5rem);
}

/*------ 
flex
first letter:justify, second: align
justify: t (top/start), c (center), b (bottom/end...also between, it's confusing I know it WORKS FOR ME IM SORRY IM LAZY)
align: s (start), c (center), e (end)
------*/

.l-flex-ts {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.l-flex-tc {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.l-flex-te {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}

.l-flex-tb {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.l-flex-cs {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.l-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.l-flex-ce {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.l-flex-cb {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.l-flex-be {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.l-flex-bc {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.l-flex-be {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.l-flex-bb {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

/*------ 
cluster
wrap down only bc it's all I ever need it for
------*/
